/* Shoutout to Zoox for some of the inspo for the styles https://zoox.com/about/ */

@font-face {
    font-family: 'Mona Sans';
    src:
        url('../public/Mona-Sans.woff') format('woff2 supports variations'),
        url('../public/Mona-Sans.woff2') format('woff2-variations');

    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 100 700;
    src: url('../public/Material-Symbols.woff2') format('woff2');
}

:root {
    --radiusLarge: 60px;
    --radiusSmall: 30px;

    --sectionGap: 2em;
    --minHeight: 700px;
    --minHeightSmall: 450px;

    --black1: #121212;
    --black2: #212121;
    --black3: #4D4D4D;

    --main1: #89D1F0;
    --main2: #BAE88F;
    --main3: #DF6FDF;
    --main4: #ffffff;

    --accent1: #406194;
    --accent2: #FDC426;
    --accent3: #DF6FDF;
    --accent4: #FDEECD;

    --btn: #3D8AFF;
    --btnRadius1: 13px;
    --btnRadius2: 20px;

    --grad: radial-gradient(141.42% 141.42% at -0.00% 100.00%, #FDC426 0%, #89D1F0 43.11%, #DF6FDF 100%);
}

html {
    font-family: 'Mona Sans';
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;

    background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

nav {
    padding: 20px 0 20px 0;
}

nav h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 4em;

    text-transform: lowercase;
}

.transparent {
    background-color: transparent !important;
}

.hidden {
    display: none;
}

.icon {
    font-family: 'Material Symbols Rounded';

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 24;

    vertical-align: bottom;
    margin-right: 0.2em;
}

a:not(.btn).centre, h1.centre, h2.centre, h3.centre, h4.centre, h5.centre, h6.centre, p.centre {
    width: 100%;
    text-align: center;
}

.centre {
    width: auto;
    margin: 0 auto 0 auto;
}

main {
    /* border-radius: 0 0 var(--radiusLarge) var(--radiusLarge); */
    /* padding-bottom: calc(var(--sectionGap) * 2);
    padding-top: calc(var(--sectionGap) * 2); */

    /* padding: calc(var(--sectionGap) * 1.5) 0 calc(var(--sectionGap) * 2) 0; */
    padding: calc(var(--sectionGap) * 0.75) 0 var(--sectionGap) 0;
} 

footer {
    display: grid;
    place-items: center;
}

footer .container {
    min-height: unset !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

footer .container::before {
    content: none;
}


footer .container article {
    position: relative;
}

@media screen and (max-width: 8in) {
    :root {
        --sectionGap: 40px;
    }
}

main > section {
    color: white;
    width: 100%;
    
    display: grid;
    place-items: center;

    margin-bottom: var(--sectionGap);
}

main > section:last-child {
    margin-bottom: 0;
}

.containergrid {
    display: grid !important;
    background-color: transparent !important;

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    min-height: var(--minHeight) !important;
}

.containergrid--parent {
    min-height: var(--minHeight) !important;
}

.containergrid::before {
    position: absolute;
}

.containergrid .container {
    height: 100%;
    width: calc(100% - 10px);
    justify-self: center;
}

.containergrid .container:first-child {
    justify-self: flex-start;
}

.containergrid .container:last-child {
    justify-self: flex-end;
}

.containergrid--60-40 {
    grid-template-columns: 60% 40%;
}

.containergrid--50-50 {
    grid-template-columns: 50% 50%;
}

.container {
    border-radius: var(--radiusLarge);
    /* background: var(--main1); */
    background-color: var(--main4);

    overflow: hidden;
    position: relative;

    container-type: inline-size;
    min-height: var(--minHeight);
    /* transition: all 350ms; */
}

.container article, .container .background {
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    top: 0;
    left: 0;
}

.container .background > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .background .bind--top {
    position: relative;
    top: 25px;
    margin-bottom: auto;
}

.container .background .bind--bottom {
    position: relative;
    bottom: 25px;
    margin-top: auto;
}

.container .background.padded {
    padding: 0 40px 0 40px;
    box-sizing: border-box;
}

.container article {
    padding: 25px 80px 25px 80px;
    box-sizing: border-box;

    align-items: flex-start;
}

.container .nopad article {
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

.container.container--nomin {
    min-height: unset;
}

.container.container--nomin article {
    padding: 50px 80px 50px 80px;
}

.container.container--nomin article, .container.container--nomin .background {
    position: relative;
}

.container--centrecontent article {
    position: relative;
    width: max-content;
    max-width: 100%;
    margin: 0 auto 0 auto;
}

.container--large {
    /* Sizes */
    width: calc(100% - 100px);

    /* Clamps */
    min-height: var(--minHeight);
    max-width: 1360px;
}

.containergrid--parent--square {
    height: max-content;
    min-height: unset !important;
}

.containergrid--square {
    min-height: unset !important;
    height: unset;
    position: relative;
}

.containergrid--square .container {
    aspect-ratio: 1/1;
    height: unset;
    min-height: var(--minHeightSmall) !important;
}

.container--aspect::before {
    /* 
        The person that thought of this was a genius and it wasn't me.
        https://zoox.com/about/
    */
    content: '';
    padding-top: 58.75%;
    display: block;
    width: 100%;
}

@media screen and (max-width: 6in) {
    .containergrid.breaklate {
        position: unset;
        grid-template-columns: 100%;
        grid-template-rows: unset;
        gap: var(--sectionGap);
    }

    .containergrid.breaklate .container {
        width: 100% !important;
    }

    .containergrid.breaklate .container::before {
        /* 
            The person that thought of this was a genius and it wasn't me.
            https://zoox.com/about/
        */
        content: '';
        padding-top: 58.75%;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 9.5in) {
    .container--large {
        width: calc(100% - 30px);
    }

    .containergrid:not(.dontbreak):not(.breaklate) {
        position: unset;
        grid-template-columns: 100%;
        grid-template-rows: unset;
        gap: var(--sectionGap);
    }

    .containergrid:not(.dontbreak):not(.breaklate) .container {
        width: 100% !important;
    }

    .container--centrecontent article {
        position: absolute;
    }
    
    .containergrid--parent::before {
        content: unset;
    }

    .containergrid:not(.dontbreak):not(.breaklate) .container::before {
        /* 
            The person that thought of this was a genius and it wasn't me.
            https://zoox.com/about/
        */
        content: '';
        padding-top: 58.75%;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 7.5in) {
    .container--large {
        width: calc(100% - 25px);
    }

    .container {
        border-radius: var(--radiusSmall);
    }
}

.cardScreen {
    z-index: 19;

    width: 100%;
    height: 200%;

    position: fixed;

    top: 50%;
    left: 50%;

    translate: -50% -50%;

    background-color: #ffffff00;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);

    pointer-events: none;
    transition: background-color 250ms, backdrop-filter 300ms, -webkit-backdrop-filter 300ms;
}

.card {
    position: fixed;
    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;

    box-shadow: 0 0 0px -7px rgba(0, 0, 0, 0.58);

    display: none;
    justify-content: center;
    overscroll-behavior: contain;
    
    z-index: 20;

    overflow-y: scroll;
    overflow-x: hidden;

    /* scrollbar-width: none;
    -ms-overflow-style: none; */

    transition: box-shadow 250ms;
}

/* .card::-webkit-scrollbar {
    display: none;
} */

.card .container {
    transition: top 250ms ease-in-out, translate 250ms;

    translate: 0 0%;
    top: 100%;
    
    height: max-content;

    /* max-width: 1000px; */
    min-height: 100px;
    border-radius: var(--radiusSmall)   ;
}

.card .container article {
    justify-content: flex-start;
    align-items: center;
    color: var(--black2);

    padding: 40px;

    position: relative;
}

.card button.close {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    border: none;

    position: relative;
    
    cursor: pointer;

    background-image: url("../public/images/icons/close.svg");
    background-size: cover;

    align-self: flex-end;
}

.imagegrid {
    width: calc(100% - var(--radiusLarge));
    height: calc(100% - var(--radiusLarge));

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;

    cursor: pointer;
}

.imagegrid div {
    width: 95%;
    height: 95%;

    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    border-radius: var(--radiusSmall);
    transition: all 500ms;

    overflow: hidden;
}

.imagegrid div:hover {
    width: 94%;
    height: 94%;
}

.imagegrid img {
    width: 100%;
    height: 100%;

    position: absolute;

    transition: all 500ms;
    object-fit: cover;
}

.allimages {
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.allimages .row {
    width: 100%;
    display: flex;

}

.allimages .row img {
    height: 100%;
    border-radius: 10px;
    scale: 0.95;
}

.fill--75 {
    width: 75%;
}

.fill--50 {
    width: 50%;
}

.btn button {
    position: relative;
    border: none;
    background-color: var(--btn);
    color: white;
    font-size: 1em;
    cursor: pointer;
    padding: 10px 25px 10px 25px;
    width: 100%;

    overflow: hidden;
}

.btn--cta-down button, .btn--cta-right button {
    padding: 10px 40px 10px 25px;
}

.btn--halfround button {
    border-radius: var(--btnRadius1);
}

.btn--pad button {
    padding: 15px 20px 15px 20px;
    border-radius: var(--btnRadius2);
}

.btn button::after, .btn button::before {
    /*  Compatability */
    font-family: 'Material Symbols Rounded';

    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 24
}

.btn button::after {
    position: absolute;

    margin-left: 2.5px;
    transition: margin 250ms;
}

.btn--cta-right.btn--pad button {
    padding-right: 40px;
}

.btn--cta-right button::after {
    /* content: '\00BB'; /* » */
    /* content: '\2192'; /* → */
    content: 'east';
}

.btn--cta-right:hover button::after {
    margin-left: 5px !important;
}

.btn--cta-down button::after {
    /*- content: '\2193'; /* ↓ */
    content: 'south';

    transition: none;
}

.btn--cta-down button {
    overflow-y: hidden;
}

.btn--cta-down button::before {
    position: absolute;

    margin-top: -2em;
    /* right: 23px; */
    right: 1.05em;

    /*- content: '\2193'; /* ↓ */
    content: 'south';
}

.btn--cta-down:hover button::before {
    margin-top: 0;
    transition: margin 350ms;
}

.btn--cta-down:hover button::after {
    margin-top: 2em;
    transition: margin 350ms;
}

.btn--underline button::before {
    content: '';
    position: relative;
    display: block;
    width: 0%;
    height: 2px;
    background-color: black;
    translate: 0 1.3em;

    transition: all 250ms;
}

.btn--underline button:hover::before {  
    width:  100%;
}

.btn--cta-newtab button {
    position: relative;
}

.btn--cta-newtab button::after {
    content: 'north_east';
    display: block;
    
    position: absolute;
    left: 50%;
    top: 50%;

    translate: -50% -50%;
    margin: 0;
}

.btn--cta-newtab button::before {
    background-color: transparent !important;
    content: 'north_east';
    display: block;
    
    position: absolute;
    left: -10%;
    top: 120%;

    translate: -50% -50%;
    margin: 0;
}

.btn--cta-newtab button:hover::before {
    left: 50%;
    top: 50%;

    transition: all 275ms;
}

.btn--cta-newtab button:hover::after {
    left: 120%;
    top: 0%;
    transition: all 275ms;
}

a:not(.btn) {
    color: var(--btn);
    text-decoration: none;
}

a:not(.btn):hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: 3px solid var(--accent1);
}

table tr:last-child {
    border-bottom: none;
}

.flex--horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.socials {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.socials img {
    height: 32px;
    cursor: pointer;
}

footer .flex--horizontal {
    width: 100%;
}

footer .socials {
    margin-left: auto;
}

footer h2 {
    position: relative;
    display: block;
    margin: auto 0 auto 0;
    font-size: 2em;
}

footer p.copyright {
    margin: 3.5em 0 0 0;
    color: var(--black3);
}