/* Shoutout to Zoox for some of the inspo for the styles https://zoox.com/about/ */

@font-face {
    font-family: 'Mona Sans';
    src:
        url('../public/Mona-Sans.woff') format('woff2 supports variations'),
        url('../public/Mona-Sans.woff2') format('woff2-variations');

    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --radiusLarge: 60px;
    --radiusSmall: 30px;
    --endPadding: 80px;

    --sectionGap: 2em;
    --minHeight: 700px;

    --black1: #121212;
    --black2: #212121;
    --black3: #4D4D4D;

    --main1: #89D1F0;
    --main2: #BAE88F;
    --main3: #DF6FDF;

    --accent1: #406194;
    --accent2: #FDC426;
    --accent3: #DF6FDF;
    --accent4: #FDEECD;

    --btn: #3D8AFF;
    --btnRadius1: 13px;
}

html {
    font-family: 'Mona Sans';
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

nav {
    padding: 20px 0 20px 0;
}

nav h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 4em;

    text-transform: lowercase;
}

.transparent {
    background-color: transparent !important;
}

a:not(.btn).centre, h1.centre, h2.centre, h3.centre, h4.centre, h5.centre, h6.centre, p.centre {
    width: 100%;
    text-align: center;
}

.centre {
    width: auto;
    margin: 0 auto 0 auto;
}

main {
    background-color: white;
    border-radius: 0 0 var(--endPadding) var(--endPadding);
    padding-bottom: calc(var(--endPadding) * 2);
}

footer {
    position: relative;
    z-index: -1;
    top: calc((var(--endPadding) * -1) - 10px);
    height: 200px;
    background-color: black;

    padding: calc(var(--endPadding) + 50px) 0 0 0;
}

@media screen and (max-width: 8in) {
    :root {
        --endPadding: 40px;
    }
}

main > section {
    color: white;
    width: 100%;
    
    display: grid;
    place-items: center;

    margin-bottom: var(--sectionGap);
}

main > section:last-child {
    margin-bottom: 0;
}

.containergrid {
    display: grid !important;
    background-color: transparent !important;

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    min-height: var(--minHeight) !important;
}

.containergrid--parent {
    min-height: var(--minHeight) !important;
}

.containergrid::before {
    position: absolute;
}

.containergrid .container {
    height: 100%;
    width: calc(100% - 10px);
    justify-self: center;
}

.containergrid .container:first-child {
    justify-self: flex-start;
}

.containergrid .container:last-child {
    justify-self: flex-end;
}

.containergrid--70-30 {
    grid-template-columns: 70% 30%;
}

.containergrid--50-50 {
    grid-template-columns: 50% 50%;
}

.container {
    border-radius: var(--radiusLarge);
    background: var(--main1);

    overflow: hidden;
    position: relative;

    min-height: var(--minHeight);
    transition: all 350ms;
}

.container article, .container .background {
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    top: 0;
    left: 0;
}

.container .background > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .background .bind--top {
    position: relative;
    top: 25px;
    margin-bottom: auto;
}

.container .background .bind--bottom {
    position: relative;
    bottom: 25px;
    margin-top: auto;
}

.container .background.padded {
    padding: 0 40px 0 40px;
    box-sizing: border-box;
}

.container article {
    padding: 25px 80px 25px 80px;
    box-sizing: border-box;

    align-items: flex-start;
}

.container--centrecontent article {
    position: relative;
    width: max-content;
    margin: 0 auto 0 auto;
}

.container--large {
    /* Sizes */
    width: calc(100% - 100px);

    /* Clamps */
    min-height: var(--minHeight);
    max-width: 1360px;
}

.container--aspect::before {
    /* 
        The person that thought of this was a genius and it wasn't me.
        https://zoox.com/about/
    */
    content: '';
    padding-top: 58.75%;
    display: block;
    width: 100%;
}

@media screen and (max-width: 9.5in) {
    .container--large {
        width: calc(100% - 30px);
    }

    .containergrid {
        position: unset;
        grid-template-columns: 100%;
        grid-template-rows: unset;
        gap: var(--sectionGap);
    }

    .containergrid .container {
        width: 100% !important;
    }

    .container--centrecontent article {
        position: absolute;
    }
    
    .containergrid--parent::before {
        content: unset;
    }

    .containergrid .container::before {
        /* 
            The person that thought of this was a genius and it wasn't me.
            https://zoox.com/about/
        */
        content: '';
        padding-top: 58.75%;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 7.5in) {
    .container--large {
        width: calc(100% - 25px);
    }

    .container {
        border-radius: var(--radiusSmall);
    }
}

.fill--75 {
    width: 75%;
}

.fill--50 {
    width: 50%;
}

.btn button {
    position: relative;
    border: none;
    background-color: var(--btn);
    font-size: 1em;
    cursor: pointer;
    padding: 10px 40px 10px 25px;
}

.btn--halfround button {
    border-radius: var(--btnRadius1);
}

.btn button::after {
    position: absolute;

    margin-left: 2.5px;
    transition: margin 250ms;
}

.btn--cta-right button::after {
    /* content: '\00BB'; /* » */
    content: '\2192'; /* → */
}

.btn--cta-right:hover button::after {
    margin-left: 5px !important;
}

.btn--cta-down button::after {
    content: '\2193'; /* ↓ */
}

.btn--cta-down:hover button::after {
    margin-top: 5px;
}

.btn--underline button::before {
    content: '';
    position: relative;
    display: block;
    width: 0%;
    height: 2px;
    background-color: black;
    translate: 0 1.3em;

    transition: all 250ms;
}

.btn--underline button:hover::before {  
    width:  100%;
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: 3px solid var(--accent1);
}

table tr:last-child {
    border-bottom: none;
}