/* Hero */
.about--hero .container {
    background-color: var(--black1);
}

.about--hero h1 {
    line-height: 100%;
    font-weight: 700;
    font-size: 2em;
    color: white;
}

.about--hero h2 {
    font-size: 4.5em;
    font-weight: 900;
    color: var(--btn);
    
    /* -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: black;
    -webkit-text-size-adjust: 100%;
    paint-order: stroke fill; */

    text-shadow:
    -8px -8px 0 var(--black1),
     0   -8px 0 var(--black1),
     8px -8px 0 var(--black1),
     8px  0   0 var(--black1),
     8px  8px 0 var(--black1),
     0    8px 0 var(--black1),
    -8px  8px 0 var(--black1),
    -8px  0   0 var(--black1);
}

.about--hero .btn button {
    font-weight: 600;
    background-color: var(--btn);
    color: white;
    font-size: 1.15em;
    text-transform: lowercase;
}

.about--hero .btn#about button {
    color: var(--black2);
    background-color: var(--accent2);
}

/* Main */
.about--main h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--black1);
}

.about--main p {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--black2);
}

@media screen and (max-width: 9.5in) {
    .about--main .container:nth-child(2) {
        display: none;
    }

    .about--main img:not(article.nopad img) {
        display: block !important;
    }
}

.about--main img:not(article.nopad img) {
    display: none;
    width: 100%;
    aspect-ratio: 16 / 8;
    object-fit: cover;
    margin-top: 10px;

    border-radius: calc(80px - var(--radiusLarge));
}

.about--main article.nopad img {
    width: calc(100% - var(--radiusLarge));
    height: calc(100% - var(--radiusLarge));
    object-fit: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    border-radius: calc(var(--radiusLarge) / 2);
}

/* Images */
.about--images .containergrid .container {
    min-height: unset !important;
}

.about--images-facts .card h2 {
    font-size: 4em;
    text-align: left;
    width: 100%;

    color: var(--black2);
}

.about--images-facts .card p {
    font-size: 1.75em;
    font-weight: 500;
    text-align: left;
    width: 100%;

    margin: 5px 0 5px 0;

    color: var(--black3);
}

/* Quick Facts */
.about--images-facts h2 {
    margin: 10px 0 10px 0;
    font-size: 2.5em;
    font-weight: 700;
    color: var(--black1);
}

.about--images-facts li {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--black2);
}

.about--images-facts ul {
    margin: 0;
    padding-inline-start: 0px;
    list-style-type: none;
}

/* Inspiration  */
.about--inspiration h2 {
    line-height: 95%;
    font-weight: 700;
    font-size: 3em;
    color: var(--black1);
}

.about--inspiration p {
    margin: 10px auto 0 auto;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--black3);

    text-align: center;
    width: 100%;
    max-width: 25m;
}

.about--inspiration .card h2, .about--inspiration .card p {
    width: 100%;
    text-align: left;
}

.about--inspiration .card h2 {
    font-size: 3em;
}

.about--inspiration .card p {
    font-size: 1.75em;
    margin: 10px 0 10px 0;
}

.about--inspiration .btn button {
    font-weight: 500;
    background-color: var(--accent2);
    color: var(--black2);
    font-size: 1.15em;
    margin-top: 1em;
}

.about--inspiration .imagecontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    align-items: center;
}

.about--inspiration .imagecontainer img {
    background-color: white;
    aspect-ratio: 1/1;
    border-radius: var(--radiusSmall);
    width: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    object-fit: cover;
    container-type: inline-size;
}

.about--inspiration .imagecontainer:nth-child(1) img {
    animation-name: jiggle-top;
}

.about--inspiration .imagecontainer:nth-child(2) img {
    animation-name: jiggle-bottom;
}

.about--inspiration .imagecontainer:nth-child(1) img:nth-child(1) {
    width: 60%;
    animation-delay: 500ms;
    animation-duration: 3.5s;
}

.about--inspiration .imagecontainer:nth-child(1) img:nth-child(2) {
    width: 75%;
    animation-delay: 750ms;
    animation-duration: 4s;
}

.about--inspiration .imagecontainer:nth-child(1) img:nth-child(3) {
    width: 70%;
    animation-delay: 625ms;
    animation-duration: 5.1s;
}

.about--inspiration .imagecontainer:nth-child(1) img:nth-child(4) {
    width: 60%;
    animation-delay: 750ms;
    animation-duration: 3.2s;
}

.about--inspiration .imagecontainer:nth-child(2) img:nth-child(1) {
    width: 75%;
    animation-delay: 575ms;
    animation-duration: 5s;
}

.about--inspiration .imagecontainer:nth-child(2) img:nth-child(2) {
    width: 60%;
    animation-delay: 625ms;
    animation-duration: 4s;
}

.about--inspiration .imagecontainer:nth-child(2) img:nth-child(3) {
    width: 65%;
    animation-delay: 1s;
    animation-duration: 3.5s;
}

.about--inspiration .imagecontainer:nth-child(2) img:nth-child(4) {
    width: 75%;
    animation-delay: 0;
    animation-duration: 4.87s;
}

@keyframes jiggle-top {
    0%   {margin-top: -10px;}
    50% {margin-top: 10px;}
    100% {margin-top: -10px;}
}

@keyframes jiggle-bottom {
    0%   {margin-bottom: -10px;}
    50% {margin-bottom: 10px;}
    100% {margin-bottom: -10px;}
}