@container (width < 10in) {
    .about--hero h2 {
        font-size: 3.5em;

        text-shadow:
        -5px -5px 0 var(--black1),
        0   -5px 0 var(--black1),
        5px -5px 0 var(--black1),
        5px  0   0 var(--black1),
        5px  5px 0 var(--black1),
        0    5px 0 var(--black1),
        -5px  5px 0 var(--black1),
        -5px  0   0 var(--black1);
    }
}

@container (width < 7in) {
    .about--hero h2 {
        font-size: 2.75em;
    }
}

@container (width < 5.5in) {
    .about--hero .background img {
        object-position: 81.5% 0;
    }

    .about--hero h1 {
        font-size: 1.4em;
        color: var(--black1);
    }

    .about--hero h2 {
        font-size: 2em;
        
        text-shadow:
        -4px -4px 0 var(--black1),
        0   -4px 0 var(--black1),
        4px -4px 0 var(--black1),
        4px  0   0 var(--black1),
        4px  4px 0 var(--black1),
        0    4px 0 var(--black1),
        -4px  4px 0 var(--black1),
        -4px  0   0 var(--black1);
    }
}

@container (width < 3.75in) {
    .imagegrid {
        grid-template-columns: 100%;
        grid-template-rows: 100%
    }
}

@container (width < 4.5in) {
    .imagegrid {
        grid-template-columns: 100%
    }
}

@media screen and (max-width: 9.5in) {
    .about--main p {
        font-size: 1.25em ;
    }
}

@media screen and (max-width: 5in) {
    .about--main p {
        font-size: 1em ;
    }
}

@media screen and (max-width: 8in) {
    .about--inspiration .imagecontainer img:nth-child(2),  .about--inspiration .imagecontainer img:nth-child(3) {
        opacity: 0;
    }

    .about--inspiration .imagecontainer:nth-child(1) img {
        width: 70% !important;
        border-radius: 20px;
    }

    .about--inspiration .imagecontainer:nth-child(2) img {
        width: 100% !important;
    }
}

@container (width < 5in) {
    .about--inspiration .imagecontainer {
        display: none;
    }

    .about--inspiration h2 {
        font-size: 3em;
    }
}