@container (width < 10in) {
    .about--hero h2 {
        font-size: 3.5em;
    }
}

@container (width < 7in) {
    .about--hero h2 {
        font-size: 2.75em;
    }
}

@container (width < 5.5in) {
    .about--hero .background img {
        object-position: 81.5% 0;
    }

    .about--hero h1 {
        font-size: 1.4em;
        color: var(--black1);
    }

    .about--hero h2 {
        font-size: 2em;
    }
}