/* Hero */
.about--hero .container {
    background-color: var(--black1);
}

.about--hero h1 {
    line-height: 100%;
    font-weight: 700;
    font-size: 2em;
    color: white;
}

.about--hero h2 {
    font-size: 4.5em;
    font-weight: 900;
    color: var(--btn);
    
    /* -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: black;
    -webkit-text-size-adjust: 100%;
    paint-order: stroke fill; */

    text-shadow:
    -8px -8px 0 var(--black1),
     0   -8px 0 var(--black1),
     8px -8px 0 var(--black1),
     8px  0   0 var(--black1),
     8px  8px 0 var(--black1),
     0    8px 0 var(--black1),
    -8px  8px 0 var(--black1),
    -8px  0   0 var(--black1);
}

.about--hero .btn button {
    font-weight: 600;
    background-color: var(--btn);
    color: white;
    font-size: 1.15em;
    text-transform: lowercase;
}

.about--hero .btn#about button {
    color: var(--black2);
    background-color: var(--accent2);
}

.about--main h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--black1);
}

.about--main p {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--black2);
}

@media screen and (max-width: 9.5in) {
    .about--main .container:nth-child(2) {
        display: none;
    }
}

.about--main img {
    width: calc(100% - var(--radiusLarge));
    height: calc(100% - var(--radiusLarge));
    object-fit: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    border-radius: var(--radiusSmall);
}

.imagegrid {
    width: calc(100% - var(--radiusLarge));
    height: calc(100% - var(--radiusLarge));

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;

    cursor: pointer;
}

.imagegrid div {
    width: 95%;
    height: 95%;

    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    border-radius: var(--radiusSmall);
    transition: all 500ms;

    overflow: hidden;
}

.imagegrid div:hover {
    width: 98%;
    height: 98%;
}

.imagegrid img {
    width: 100%;
    height: 100%;

    position: absolute;

    transition: all 500ms;
    object-fit: cover;
}

.about--images .containergrid .container {
    min-height: unset !important;
}