/* Hero */
.home--hero h1 {
    line-height: 83%;
    font-weight: 700;
    font-size: 6.5em;
    color: var(--black1);
}

.home--hero h2 {
    font-size: 2.5em;
    font-weight: 900;
    color: var(--accent1);
    text-transform: lowercase;
}

.home--hero .btn button {
    font-weight: 600;
    background-color: var(--accent1);
    color: white;
    font-size: 1.15em;
    text-transform: lowercase;
}

/* Inspiration  */
.home--inspiration h2 {
    line-height: 91%;
    font-weight: 700;
    font-size: 4em;
    color: var(--black1);
}

.home--inspiration .btn button {
    font-weight: 500;
    background-color: var(--accent2);
    color: var(--black2);
    font-size: 1.15em;
    margin-top: 1em;
}

.home--inspiration .imagecontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    align-items: center;
}

.home--inspiration .imagecontainer img {
    background-color: white;
    aspect-ratio: 1/1;
    border-radius: var(--radiusSmall);
    width: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.home--inspiration .imagecontainer:nth-child(1) img {
    animation-name: jiggle-top;
}

.home--inspiration .imagecontainer:nth-child(2) img {
    animation-name: jiggle-bottom;
}

.home--inspiration .imagecontainer:nth-child(1) img:nth-child(1) {
    width: 60%;
    animation-delay: 500ms;
    animation-duration: 3.5s;
}

.home--inspiration .imagecontainer:nth-child(1) img:nth-child(2) {
    width: 75%;
    animation-delay: 750ms;
    animation-duration: 4s;
}

.home--inspiration .imagecontainer:nth-child(1) img:nth-child(3) {
    width: 70%;
    animation-delay: 625ms;
    animation-duration: 5.1s;
}

.home--inspiration .imagecontainer:nth-child(1) img:nth-child(4) {
    width: 60%;
    animation-delay: 750ms;
    animation-duration: 3.2s;
}

.home--inspiration .imagecontainer:nth-child(2) img:nth-child(1) {
    width: 75%;
    animation-delay: 575ms;
    animation-duration: 5s;
}

.home--inspiration .imagecontainer:nth-child(2) img:nth-child(2) {
    width: 60%;
    animation-delay: 625ms;
    animation-duration: 4s;
}

.home--inspiration .imagecontainer:nth-child(2) img:nth-child(3) {
    width: 65%;
    animation-delay: 1s;
    animation-duration: 3.5s;
}

.home--inspiration .imagecontainer:nth-child(2) img:nth-child(4) {
    width: 75%;
    animation-delay: 0;
    animation-duration: 4.87s;
}

@keyframes jiggle-top {
    0%   {margin-top: -10px;}
    50% {margin-top: 10px;}
    100% {margin-top: -10px;}
}

@keyframes jiggle-bottom {
    0%   {margin-bottom: -10px;}
    50% {margin-bottom: 10px;}
    100% {margin-bottom: -10px;}
}

/* Skills & Tools */
.home--skillstools {
    color: var(--black1);
}

.home--skillstools h2 {
    font-size: 2.5em;
}

.home--skillstools table {
    color: var(--black2);
    font-size: 2.5em;
    min-width: 60%;
}

.home--skillstools table tr td:not(.home--skillstools table tr td:first-child):last-child {
    text-align: right;
}

/* Contact */
.home--contact .btn button {
    background-color: var(--accent2);
}

.home--contact h2 {
    font-size: 4em;
    font-weight: 700;
    color: var(--black1);
}

.home--contact #contact p {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--black2);
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}