@font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
html {
    font-family: 'Mona Sans';
    scroll-behavior: smooth;
}

body {
    margin: 0;

    overflow-x: hidden;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

/* fallback */
@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v75/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2) format('woff2');
}  

.icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}

a.icon {
    color: initial;
    text-decoration: initial;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

footer .icon, footer .socials img {
    transition: all 150ms;
    filter: invert(0);
}

footer .icon:hover, footer .socials img:hover {
    filter: invert(0.3);
}

footer > span {
    margin-right: 30px;
    min-height: 44px;
}

footer > span * {
    margin: 0;
}

footer .copyright {
    margin-left: auto;
    text-align: right;
}

.socials {
    display: flex;
}

.socials a {
    margin-right: 12px;
}

.socials img {
    aspect-ratio: 1/1;
    height: 20px;
    cursor: pointer;
    object-fit: contain;   
}

@media screen and (max-width: 6in) {
    footer {
        flex-direction: column;
    }

    footer > span {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 3px;
        margin-right: 0;
    }

    footer .copyright {
        margin: 0;
        text-align: center;
    }
}