.about .content.mobile {
    grid-template-columns: 100% 0 0;

    background-image: linear-gradient(180deg, #ffffffed,#ffffffed), url(../media/webp/ldn-buildings.webp);
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
}

.about .content.mobile div hr {
    display: block;
}

.about .content.mobile hr {
    display: none;
}

.about .content.mobile h1 {
    font-size: 3.6vw;
}

.about .content.mobile p {
    font-size: calc(12px + 1vw);
}

@media screen and (max-width: 5in) {
    .content p {
        font-size: 1em;
    }

    .section.contact form input {
        width: 100% !important;
    }
}

@media screen and (max-width: 8in) {
    .tools-subsection {
        grid-template-columns: repeat(2, auto) !important;
        justify-content: center;

        gap: 4px !important;
    }

    .tools-subsection .chip {
        width: 12vw;
        min-width: 50px;
    }

    .skills-subsection {
        grid-template-columns: repeat(2,auto) !important;        
        justify-content: center;

        gap: 5px !important;
    }

    .skills-subsection .chip {
        width: 13vw !important;
        min-width: 90px;
    }
}