* {
    scroll-behavior: smooth;
}

:root {
    --main-colour: #f7f016;
}

html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    overflow-x: hidden;

    margin: 0;
}

.scrollToDiscover {
    position: absolute;
    opacity: 0;
    transition: all 1s;
    bottom: -5px;

    text-align: center;
    color: #505050;

    font-size: 1.1em;
    font-weight: lighter;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition: all 0.6s;
    transform: scale(1);
}

.scrollToDiscover:hover {
    transform: scale(1.05);
    }
    

.scrollToDiscover p {
    margin: 0;
}

.scrollToDiscover .icon {
    font-size: 2em;
    color: #2a2a2a;
}

.section {
    position: relative;
    overflow: hidden;

    width: 100%;

    min-height: 5in/*400px*/;
    /* height: 50vh;
    max-height: 5in; */
}



.section .content {
    width: 100%;

    font-family: 'Times New Roman', Times, serif;
}


.content h1, .content h2 {
    /* font-size: 3.; */
    margin: 0;
}

.content p {
    margin: 0;
    font-size: 1.3em;
}

.underline {
    width: 0;
    height: 7px;
    background-color: var(--main-colour);
    transition: all 1s;
}

hr {
    height: 40px;
    border: none;
}

.footer {
    position: sticky;
    top: 100%;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #0f0f0f;
    color: white;
    font-size: calc(12px + 0.2vw);

    padding: 10px;
    box-sizing: border-box;
}

.footer p {
    margin-bottom: 3px;
}

.footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    font-size: calc(12px + 0.05vw);
}

.footer ul li {
    margin-right: 10px;
    text-decoration: underline;

    cursor: pointer;
}

.footer .socials {
    margin-top: 5px;
    height: 30px;
}

.footer a {
    color: white;
    font-size: max(0.9em, 12px);/*0.9em;*/
    margin-top: 2px;
}

.fadeInChildren > * {
    transition: opacity 1s;
    opacity:  0;
}

.socials {
    box-sizing: border-box;
    padding: 5px;
    height: 35px;
}

.social {
    min-height: 16px;
    height: 100%;
    aspect-ratio: 1/1;
}